services:

  db:
    image: postgres:15
    environment:
      POSTGRES_USER : postgres
      POSTGRES_PASSWORD : postgres
      POSTGRES_DB : New 
    volumes:
    - pg_data:/var/lib/postgresql/data  
    ports:
    - "5432:5432"   


  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data  
    ports:
      - "9000:9000"
      - "9001:9001"

volumes:
  pg_data:
  minio_data:      